{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="{% static '../../static/patient/css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="../../static/patient/css/bootstrap.css" />
  <link rel="stylesheet" href="../../static/patient/css/fontawesome/css/all.css" />
</head>

<body style="background-image:url('../../static/patient/images/forest.jpg')">
  <div style="background-color: rgba(255,255,255,0.7);height: 100%;">
    <div class="row" style="background-color:rgb(11, 11, 46);height: 100px;">
      <span class="text-start display-2 col-md-2 float-start"><a class="text-light text-decoration-none"
          href="{% url 'home' %}">AVANI</a></span>

      <span class="float-end mt-5 col-md-10 text-end">
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light">Home</a>
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light"
          style="border-left: solid 2px white">Consultation Request</a>
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light"
          style="border-left: solid 2px white">Appointment Booking</a>
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light"
          style="border-left: solid 2px white">Appointment Feedback</a>
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light"
          style="border-left: solid 2px white">Notification</a>
        <a href="{% url 'contact' %}" class="me-1 ps-2 text-decoration-none text-light"
          style="border-left: solid 2px white">History</a>
      </span>
    </div>


    


    <div class="row  my-3">
      <div class="col-md-5 text-center fw-bold">Patient</div>

      <div class="col-md-2 fw-bold">Appointment Date</div>
      <div class="col-md-2 fw-bold">Prescription</div>
      <div class="col-md-2 fw-bold">Notes</div>
      <div class="col-md-1 fw-bold"></div>
    </div>
    {% for appointment in appointments %}
    <form action="{% url 'feedbackpatient' appointment.pk %}" method="POST">
{% csrf_token %}
      <div class="my-3">
  
  
  
        <div class="row ">
          <div class="col-md-5 ">
            <div class="row">
              <div class="col">
  
  
                <figure class="figure col d-inline float-end">
                  <img src="../../static/patient/images/nurse.jpg" class="figure-img img-fluid rounded float-end"
                    alt="Nurse" style="height: 100px;width: 80px;" />
                </figure>
              </div>
              <div class="col float-start">
                <p class="float-start">
                  {{appointment.patient_app.first_name}}
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="input-group mb-3">
  
              {{appointment.app_date}}
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
  
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="prescription"></textarea>
            </div>
          </div>
          <div class="col-md-2 text-justify">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes"></textarea>
          </div>
          <div class="col-md-1 fw-bold">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
  
  
  
      </div>
    </form>
    {% endfor %}

    
    {% for opinion in opinions %}
    <form action="{% url 'feedbackpatientsecond' opinion.pk %}" method="POST">
{% csrf_token %}
      <div class="my-3">
  
  
  
        <div class="row ">
          <div class="col-md-5 ">
            <div class="row">
              <div class="col">
  
  
                <figure class="figure col d-inline float-end">
                  <img src="../../static/patient/images/nurse.jpg" class="figure-img img-fluid rounded float-end"
                    alt="Nurse" style="height: 100px;width: 80px;" />
                </figure>
              </div>
              <div class="col float-start">
                <p class="float-start">
                  {{opinion.patient_app_second.first_name}}
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="input-group mb-3">
  
              {{opinion.app_date_second}}
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
  
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="prescription"></textarea>
            </div>
          </div>
          <div class="col-md-2 text-justify">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes"></textarea>
          </div>
          <div class="col-md-1 fw-bold">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
  
  
  
      </div>
    </form>
    {% endfor %}

    



    <br>
    <br>

    
    <footer class="text-center text-lg-start " style="background-color:rgb(11, 11, 46);">
      <!-- Grid container -->
      <div class=" p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Avani</h5>
            
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-light" href="{% url 'home' %}">Home</a>
              </li>
              <li>
                <a class="text-light" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0 text-light">Insurance</h5>
            
            <ul class="list-unstyled">
              <li>
                <a class="text-light" href="#!">Britam</a>
              </li>
              <li>
                <a class="text-light" href="#!">Britam</a>
              </li>
              <li>
                <a class="text-light" href="#!">Britam</a>
              </li>
              <li>
                <a class="text-light" href="#!">Britam</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Specialists</h5>
            
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-light" href="#!">Dermatologist</a>
              </li>
              <li>
                <a class="text-light" href="#!">Orthodontist</a>
              </li>
              <li>
                <a class="text-light" href="#!">Neurosurgeon</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
          
          
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    </footer>
  </div>
  
</div>
  <script src="../../static/patient/js/bootstrap.js"></script>
</body>

</html>