{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{% static '../../static/patient/css/style.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/patient/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="../../static/patient/css/fontawesome/css/all.css"
    />
  </head>
  <body style="background-image: url('../../static/patient/images/forest.jpg')">
    <div style="background-color: rgba(255, 255, 255, 0.7)">
      <div style="background-color: rgb(11, 11, 46); height: 100px">
        <span class="text-start display-2"
          ><a class="text-decoration-none text-light" href="{% url 'home' %}"
            >AVANI</a
          ></span
        >
        <span class="btn-group float-end clearfix align-items-middle mt-5">
          <a
            href="{% url 'contact' %}"
            class="me-5 float-start text-light text-decoration-none"
            >Contact Us</a
          >
        </span>
      </div>

      <h5 style="margin-left:70px">Doctor's Profile</h5>

      <div
        style="
          background-color: rgba(224, 102, 102, 0.267);
          height: 70%;
          width: 90%;
          margin: auto;
        "
        class="my-3 rounded"
      >
        <div style="width: 90%; margin: auto" class="py-3">
          <form  method="POST">
            {% csrf_token %}
          

            <div class="row">
              <div class="col">
                {{ u_form.name.errors }}
                

                {{ u_form.name|as_crispy_field }}
              </div>
              <div class="col">
                {{ u_form.speciality.errors }}
                

                {{ u_form.speciality|as_crispy_field }}
              </div>
              <div class="col">
                {{ u_form.phone.errors }}
                

                {{ u_form.phone|as_crispy_field }}
              </div>
              <div class="col">
                
                {{ u_form.gender.errors }}
                

                {{ u_form.gender|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{ u_form.email.errors }}
                

                {{ u_form.email|as_crispy_field }}
              </div>
              <div class="col" style="height:5px">
                {{ u_form.address.errors }}
                

                {{ u_form.address|as_crispy_field }}
              </div>
              <div class="col">
                {{ u_form.npi.errors }}
                

                {{ u_form.npi|as_crispy_field }}
              </div>
              <div class="col">
                {{ u_form.date_of_birth.errors }}
                

                {{ u_form.date_of_birth|as_crispy_field }}
              </div>
            </div>

            <div class=" mt-3">
            <span class="me-5">

              {{ u_form.education.errors }}
            </span>
                

                {{ u_form.education|as_crispy_field }}
              {{ u_form.qualifications.errors }}
                

                {{ u_form.qualifications|as_crispy_field }}
              {{ u_form.places_worked.errors }}
                

                {{ u_form.places_worked|as_crispy_field }}
              {{ u_form.consultation_fee.errors }}
                

                {{ u_form.consultation_fee|as_crispy_field }}
              {{ u_form.venue_of_operation.errors }}
                

                {{ u_form.venue_of_operation|as_crispy_field }}
                {{ u_form.insurance.errors }}
                

                {{ u_form.insurance|as_crispy_field }}
                {{ u_form.insurance2.errors }}
                

                {{ u_form.insurance2|as_crispy_field }}
                {{ u_form.insurance3.errors }}
                

                {{ u_form.insurance3|as_crispy_field }}
                {{ u_form.insurance4.errors }}
                

                {{ u_form.insurance4|as_crispy_field }}
                {{ u_form.insurance5.errors }}
                

                {{ u_form.insurance5|as_crispy_field }}
            </div>

            <div class="text-center mt-3">
              <button class="btn btn-dark" type="submit">Edit/Save</button>
            </div>
          
          </form>
        </div>
      </div>
      <div class="" style="margin-left: 70px;">
        <div class="py-3">

          <a href="{% url 'doctorlogout' %}" class="btn btn-primary"> Logout</a>
        </div>
        <div class="py-3">

          <a href="{% url 'deletedoctor' %}" class="btn btn-primary"> Delete Account</a>
        </div>
      </div>
      <footer
        class="text-center text-lg-start"
        style="background-color: rgb(11, 11, 46)"
      >
        <!-- Grid container -->
        <div class="p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-light">Avani</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-light" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                  <a class="text-light" href="{% url 'contact' %}"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0 text-light">Insurance</h5>

              <ul class="list-unstyled">
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-light">Specialists</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-light" href="#!">Dermatologist</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Orthodontist</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Neurosurgeon</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      </footer>
    </div>

    <script src="../../static/patient/js/bootstrap.js"></script>
  </body>
</html>
