{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="{% static '../../static/patient/css/style.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/patient/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="../../static/patient/css/fontawesome/css/all.css"
    />
  </head>
  <body >
    <div style="background-color: rgba(255,255,255,0.7);height:500px">
      <div style="background-color:rgb(11, 11, 46);height: 100px;">

        <span class="text-start  display-2"><a class="text-light text-decoration-none" href="{% url 'home' %}">AVANI</a></span>
        <span class="btn-group float-end clearfix align-items-middle mt-5">
          <a href="{% url 'contact' %}" class="me-5 text-decoration-none text-light float-start">Contact Us</a>
          <a href="{% url 'home' %}" class="me-5 text-decoration-none text-light float-end">Home</a>    
  
        </span>
      </div>

      
      <div
      style="
      background-color: #C48793;
      height: 50%;
      width: 60%;
      margin: auto;
    " class="my-3 rounded"
      >
        <div style="width: 70%; margin: auto" class="py-3">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
           <!-- <div>
             Don't have an account <a href="{% url 'patientsignup' %}">SignUp</a>
           </div>
            <br />
            <div>
              <label for="email">Email</label>
              <br />
              <input
                type="email"
                id="email"
                name="gender"
                placeholder="email"
                class="form-control"
              />
            </div>
            <br />
            <div>
              <label for="password">Password</label>
              <br />
              <input
                type="password"
                id="password"
                name="gender"
                placeholder="password"
                class="form-control"
              />
            </div> -->
            <div class="text-center mt-3">

              <button class="btn btn-dark" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      

      <footer class="text-center text-lg-start fixed-bottom" style="background-color:rgb(11, 11, 46);height:250px;">
        <!-- Grid container -->
        <div class=" p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-light">Avani</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-light" href="{% url 'home' %}" >Home</a>
                </li>
                <li>
                  <a class="text-light" href="{% url 'contact' %}" >Contact Us</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0 text-light">Insurance</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Britam</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-light">Specialists</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="text-light" href="#!">Dermatologist</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Orthodontist</a>
                </li>
                <li>
                  <a class="text-light" href="#!">Neurosurgeon</a>
                </li>
                
              </ul>
            </div>
            <!--Grid column-->
      
            
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      </footer>
    </div>

    <script src="../../static/patient/js/bootstrap.js"></script>
  </body>
</html>
